::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #97CE4C;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6aad0d;
}